body{
    background-color: #ecf0f1;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
h1{
    color: #1abc9c;
}
.list-group{
    width: 300px;
    margin: 50px auto;
    background-color: #1abc9c;
    border-radius: 5px;
    box-shadow: 4px 4px 0px rgba(0,0,0,0.2);
}

.list-item{
    display: flex;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.list-item:last-child{
    border: none;
}

input[type="checkbox"]{
    margin: 20px;
}

p{
    border-left: 1px solid #ddd;
    margin: 0px;
    padding: 15px; 
}

input[type="checkbox"]:checked + p{

    text-decoration: line-through;
    color: #ccc;

}